/*.affix {*/
    /*top: 0;*/
    /*width: 100%;*/
/*}*/

/*.affix + .container-fluid {*/
    /*padding-top: 70px;*/
/*}*/

@media screen and (max-width: 767px) {
    .logo-center{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .logo-nav{
        display: none;
    }
    .logo-center {
        padding: 0;
        padding-top: 7px;
        height: 50px;
    }
    .logo-center a {
        height: 43px;
        background-image: url("http://i.imgur.com/ieiO0Fj.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.logo-nav{
    position: absolute;
    top: -4.5vw;
    z-index: 20;
}

.navbar-toggle .icon-bar {
    border: 2px solid white;
    width: 25px;
    border-radius: 4px;
}

.bouton-collapse {
    border: 2px solid #337ab7;
    margin: 5px 20px;
    padding: 8px 9px;
}

nav li, .btn-user{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: #337ab7;
}

nav li a{
    border-radius: 5px;
}

.btn-user{
    padding: 9px 15px;
}

.banniere {
    background-color: #222222;
    height:200px;
    padding-right: 0;
    padding-left: 0;
}

.item {
    height:200px;
}

@media screen and (max-width: 950px) {
    .carousel-inner > .item > img{
        max-height: 100%;
        max-width: none;
    }
}


.slider-content{
    height:200px;
}

.nav-contain {
    margin-top: 3px;
    padding-right: 0;
    height: 100%;
}

.nav-global{
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.nav-global > *, .nav-global > * > * {
    padding: 0 0;
}

.barre {
    width: 0;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 0;
    height: 40vh;
}

.middle{
    height: 32vh;
    padding: 0;
    margin: 0;
    background-image: url("http://i.imgur.com/BGQOxDK.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.signin{
    padding: 0 40px;
}

.login{
    padding: 0 40px;
}

.modal{
    z-index: 4000;
}

.header-alert {
    padding-top: 70px;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

.header-alert *{
    opacity: 0.9;
    text-align: center;
}