/*----------------------------------------------------------------------------------*/
/*                                 TOOLS CLASS                                      */
/*----------------------------------------------------------------------------------*/

.no-padding {
    padding: 0!important;
}
.no-margin {
    margin:0!important;
}
.no-all {
    margin:0!important;
    padding: 0!important;
}
.text-center {
    text-align: center;
    align-content: center;
}

/*----------------------------------------------------------------------------------*/
/*                                LOGO NAV                                          */
/*----------------------------------------------------------------------------------*/

.logo-content{
    z-index: 100!important;
}
.logo{
    position: absolute;
    left: 41.7%;
    width: 16.6%;
    min-width: 100px;
}
.logo-nav {
    margin-top: -30%!important;
}

/*----------------------------------------------------------------------------------*/
/*                                   AFFIX                                          */
/*----------------------------------------------------------------------------------*/

/* Class for when element is above threshold*/
.pin-top {
   position: relative;
}
/* Class for when element is below threshold*/
.pin-bottom {
   position: relative;
}
/* Class for when element is pinned*/
.pinned {
   position: fixed !important;
}
@media screen and(min-width: 990px){
    .target{
        position: fixed!important;
    }
    .home-content{
        margin-top: 70px;
    }
}
.pinned {
    margin-bottom: 70px!important;
}

/*----------------------------------------------------------------------------------*/
/*                                CAROUSEL                                          */
/*----------------------------------------------------------------------------------*/

/* Only necessary for window height sized blocks.*/
html, body, .block {
   height: 100%;
}
.item {
    height:200px;
}
.slider-content{
    height:200px!important;
}

/*----------------------------------------------------------------------------------*/
/*                                FONT                                              */
/*----------------------------------------------------------------------------------*/


.sky-blue * {
    color: #56CCF2!important;
}



/*----------------------------------------------------------------------------------*/
/*                                 MODALE                                           */
/*----------------------------------------------------------------------------------*/

.middle{
    background-position: center;
    height: 26vh;
    min-width: 100px!important;
    padding: 0;
    margin: 20px 0 0 0!important;
    background-image: url("http://i.imgur.com/BGQOxDK.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#modal1 {
    border-radius: 8px;
    border: 2px solid #56CCF2;
}

.modal-content {
    height: 35vh;
    padding: 0!important;
}
.modal {
    padding: 30px!important;
}

/*----------------------------------------------------------------------------------*/
/*                               LOGIN / SIGN IN                                    */
/*----------------------------------------------------------------------------------*/

.btn-validation span {
    color: white!important;
}
.btn-validation{
    padding-right: 1em!important;
    padding-left: 1em!important;
}