{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container-fluid container cont">
        <p> Un e-mail a été envoyé à {{user.email}}. Il contient un lien d'activation auquel vous devez cliquer pour activer votre compte.</p>
    </div>
{% endblock fos_user_content %}
