{% trans_default_domain 'FOSUserBundle' %}

<form name="fos_user_registration_form" method="post" action="{{ path("fos_user_registration_register") }}" class="fos_user_registration_register signin">
    <div id="fos_user_registration_form">

        <div class="form-group">
            <label class="control-label required" for="fos_user_registration_form_username">Pseudo</label>
            <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" placeholder="Votre pseudo exact In-Game" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label required" for="fos_user_registration_form_email">Email</label>
            <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" placeholder="Merci d'entrer une adresse email valide" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label required" for="fos_user_registration_form_plainPassword_first">Mot de passe</label>
            <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" placeholder="Votre mot de passe" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label required" for="fos_user_registration_form_plainPassword_second">Mot de passe</label>
            <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" placeholder="Confirmez-le" class="form-control" />
        </div>

    </div>
    <div>
        <button type="submit" id="_submit" name="_submit"  class="btn btn-block">S'inscrire</button>
    </div>
</form>
