.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.logo-nav{
    position: absolute;
    top: -4.5vw;
}

nav li, .btn-user{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: #337ab7;
}

.banniere {
    height:200px;
    padding-right: 0;
    padding-left: 0;
}

.item {
    height:200px;
}

.nav-contain {
    margin-top: 3px;
    padding-right: 0;
    height: 100%;
}

.nav-global{
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.barre {
    width: 0;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 0;
    height: 40vh;
}
.middle{
    height: 32vh;
    padding: 0;
    margin: 0;
    background-image: url("http://i.imgur.com/BGQOxDK.png");
    background-size: cover;
}

.signin{
    padding: 0 40px;
}

.login{
    padding: 0 40px;
}

.modal{
    z-index: 4000;
}

.header-alert {
    padding-top: 70px;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

.header-alert *{
    opacity: 0.9;
    text-align: center;
}