{% extends "::base.html.twig" %}
    {% block title %}
        Skycraft
    {% endblock %}

    {% block body %}
        <div class="container-fluid container cont" style="height:1000px">
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
            <h1>Some text to enable scrolling</h1>
        </div>
    {% endblock %}
