<template name="header">

    <div id="myCarousel" class="carousel carousel-slider slider-content">
        <div class="carousel-item item">
            <img src="http://i.imgur.com/VbQwHp2.jpg" alt="slide1">
        </div>

        <div class="carousel-item">
                <img src="http://i.imgur.com/GOHYOYs.jpg" alt="slide2">
        </div>

        <div class="carousel-item">
            <img src="http://i.imgur.com/0Q3dgfI.jpg" alt="slide3">
        </div>
    </div>
    <div>
    <nav class="target">
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav no-all">
                <li class="no-all"><a class="text-center no-all" href="{{pathFor 'home'}}">Accueil</a></li>
                <li class="no-all"><a class="text-center no-all" href="#">Boutique</a></li>
                <li class="no-all"><a class="text-center no-all" href="#">Votes</a></li>
                <li class="no-all"><a class="text-center no-all" href="#">Support</a></li>
                <li class="no-all"><a class="text-center no-all" href="#">Profil</a></li>
                {{#if currentUser}}
                    <li class="no-all">
                    <li><a class="dropdown-button text-center no-all" href="#" data-activates="dropdown1">{{currentUser}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul class="dropdown-content" id="dropdown1">
                        <!--{% if is_granted('ROLE_MODO', 'ROLE_ADMIN') %}-->
                        <!--<li><a href="">Panneau de commandes</a></li>-->
                        <!--{%  endif %}-->
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                    </li>
                {{ else }}
                    <li class="no-all"><a class="text-center no-all" href="#">Connexion</a></li>
                {{/if}}
            </ul>


            <div class="hide-on-med-and-down col m12 row no-all">
                <ul class="col m5 no-all">
                    <li class="col m4 no-all"><a class="text-center no-all" href="{{pathFor 'home'}}">Accueil</a></li>
                    <li class="col m4 no-all"><a class="text-center no-all" href="#">Boutique</a></li>
                    <li class="col m4 no-all"><a class="text-center no-all" href="#">Votes</a></li>
                </ul>

                <ul class="center-block col m2 no-all">
                    <li class="m12 no-all">
                        <a class="col m12 no-all" href="{{pathFor 'home'}}">
                            <img src="http://i.imgur.com/ArqTETp.png" title="logo" class="img-responsive logo-nav"/>
                        </a>
                    </li>
                </ul>

                <ul class="right col m5 no-all">
                    <li class="col m4 no-all"><a class="text-center no-all" href="#">Support</a></li>
                    <li class="col m4 no-all"><a class="text-center no-all" href="#">Profil</a></li>
                    {{#if currentUser}}
                        <li class="col m4 no-all">
                            <li><a class="dropdown-button text-center no-all" href="#" data-activates="dropdown1">{{currentUser}}<i class="material-icons right">arrow_drop_down</i></a></li>
                                <ul class="dropdown-content" id="dropdown1">
                                    <!--{% if is_granted('ROLE_MODO', 'ROLE_ADMIN') %}-->
                                    <!--<li><a href="">Panneau de commandes</a></li>-->
                                    <!--{%  endif %}-->
                                    <li><a href="#">Déconnexion</a></li>
                                </ul>
                        </li>
                    {{ else }}
                        <li class="col m4 no-all"><a class="text-center no-all" href="#">Connexion</a></li>
                    {{/if}}
                </ul>
            </div>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    </div>


    <!--<div id="myCarousel" class="carousel carousel-slider banniere">-->
            <!--<div class="carousel-item">-->
                <!--<img src="http://i.imgur.com/VbQwHp2.jpg" alt="slide1">-->
            <!--</div>-->

            <!--<div class="carousel-item">-->
                <!--<img src="http://i.imgur.com/GOHYOYs.jpg" alt="slide2">-->
            <!--</div>-->

            <!--<div class="carousel-item">-->
                <!--<img src="http://i.imgur.com/0Q3dgfI.jpg" alt="slide3">-->
            <!--</div>-->
    <!--</div>-->
    <!--<nav class="nav-global">-->
        <!--<div class="nav-wrapper col s12">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle bouton-collapse" data-toggle="collapse" data-target="#myNavbar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse" id="myNavbar">-->
                <!--<ul class="nav col m5 nav-contain">-->
                    <!--<li class="col m4 "><a href="{{pathFor 'home'}}">Accueil</a></li>-->
                    <!--<li class="col m4"><a href="#">Boutique</a></li>-->
                    <!--<li class="col m4"><a href="#">Votes</a></li>-->
                <!--</ul>-->
                <!--<div class="nav col m2 logo-center">-->
                    <!--<a class="col m12" href="{{pathFor 'home'}}"><img src="http://i.imgur.com/ArqTETp.png" title="logo" class="col m12 logo-nav"/></a>-->
                <!--</div>-->
                <!--<ul class="nav col m5 nav-contain ">-->
                    <!--<li class="col m4"><a href="#">Support</a></li>-->
                    <!--<li class="col m4"><a href="#">Profil</a></li>-->
                    <!--{{#if currentUser}}-->
                    <!--<li class="col m4">-->
                        <!--<div class="dropdown">-->
                            <!--<a class="btn btn-default dropdown-toggle btn-block btn-user" data-toggle="dropdown">-->
                                <!--{{ currentUser }}-->
                                <!--<span class="caret"></span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" >-->
                                <!--&lt;!&ndash;{% if is_granted('ROLE_MODO', 'ROLE_ADMIN') %}&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="">Panneau de commandes</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;{%  endif %}&ndash;&gt;-->
                                <!--<li><a href="#">Déconnexion</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--{{ else }}-->


                    <!--<li class="col m4"><button type="button" id="scroll-top" class="btn btn-default btn-user btn-block">{{> loginButtons}}</button></li>-->


                    <!--{{/if}}-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
</template>